


body { font-family: 'Gotham'; font-weight: normal;}
.content { background: url(img/bg.jpg) no-repeat center 0;  height: auto; color: #fff; background-size: cover;}




footer { padding: 20px 0; color: #929ba4;}
