* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
}

header {
    flex: 0 1 10%; /* 10% of the height */
    background-color: white; /* Example background color */
    color: white; /* Text color */
    display: flex; /* Center content */
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
}


.left {
    flex: 0 1 15%; /* Left part takes 15% of the width */
    display: flex; /* Center content */
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
}

.middle {
    flex: 0 1 70%; /* Middle part takes 70% of the width */
    display: flex; /* Use Flexbox to center the image */
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    background-image: url('img/middle-header.png');
}



.right {
    flex: 0 1 15%; /* Right part takes 15% of the width */
    display: flex; /* Center content */
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
}

main {
    flex: 1; /* Take up remaining space */
    background-image: url('img/middle.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white; /* Optional: Change text color for better contrast */
}

footer {
    flex: 0 1 30%; /* 40% of the height */
    background-color: white; /* Example background color */
    color: white; /* Text color */
    display: flex; /* Center content */
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
}
.eighty {
    height: 80vh;
    border: 1px solid red;
    display: block;
}

.twenty {
    height: 20vh;
    border: 1px solid blue;
    display: block;
}